<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>Document</title>
</head>
<div class="header">
    <h1>афпофып</h1>
</div>

<body>
    <div>
        <div class="user-info">
            <h1 id="username">Сергей</h1>
            
            <div class="hrefs">
                <a class="exit" href="/view/exit">Выход</a>
            </div>
        </div>
        
        <div class="main" id="main">
            
            <div class="box-content" id="1">
                    <div class="head-of-post">
                        <div class="username-of-post">Приветствие<label class="date">30.11.2023</labels></div>
                    </div>
                <p class="content" id="1">Добро пожаловать, здесь скоро будут появляться задания от учителя</p>
            </div>
            
        </div>
        </div>
    </div>
</body>
</html>